*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h5{
    font-weight: 300;
}
h1{
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
}
h2{
    font-size: 30px;
    line-height: 40px;
    margin-top: 0;
}
h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}
h4{
    color: #505055;
    font-size: 18px;
    line-height:28px;
}
p{
    color:#757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0.5px;
}





























#about,#project,
#team,#contact ,footer{
    background: #ffffff;
}






.navbar .navbar-brand{
    font-weight: normal;
    font-size: 25px;
    color: #ffffff;
} 
.navbar .navbar-nav .nav-link{
  
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0;
    text-transform: uppercase;
    transition: all-ease-in 0.4s;
    color: #ffffff;
}

#Home{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
}

}


